<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>

    <p class="uix-config-menu">
        <a href="/config">Config</a>
        <a href="/config.create">Create</a> 
        <a href="/config.list">List</a>
    </p>

    <p>Setup ISO 8583 protocol configurations here for banking host.</p>
  </body>
</html>